<main class="container card w-50">
  <header class="card-header">
    <legend class="card-title m-0">Lista de Tarefas</legend>
  </header>

  <section class="card-body p-0">
    <ul class="list-group list-group-flush">
      {{#each task}}
        <li class="list-group-item d-flex">
          <a href="/task/{{ id }}" class="fw-normal card-title flex-grow-1 text-capitalize list-link">{{ title }}</a>

          <div>
            <a href="/task/complete" class="bi bi-check2 list-link"></a>
            <form action="/task/delete" class="list-link" method="post">
              <input type="hidden" name="id" value="{{ id }}">
              <button type="submit" class="list-link"><i class="bi bi-x-lg"></i></button>
            </form>
            <a href="/task/update/{{ id }}" class="bi bi-pencil-square list-link"></a>
          </div>
        </li>
      {{/each}}
    </ul>
  </section>
</main>